---
import Layout from "@/layouts/Layout.astro"
import Films from "@/sections/Films.astro"
import Actors from "@/sections/Actors.astro"
import Aside from "@/sections/Aside.astro"
---

<Layout
    title="ITBFlix Remake - A Netflix inspired web"
    description="This is a remake of ITBFlix, a Netflix inspired web made with HTML and Css. Now ITBFlix is built with Astro and Tailwind."
>
	<main class="max-w-screen-2xl w-full m-auto pt-12 sm:pt-18 px-8 flex flex-col gap-28">
		<Films />
		<Actors />
		<div class="grid grid-cols-[1fr_4fr] gap-16">
			<Aside />
		</div>
	</main>
</Layout>
