---
import GitHubIcon from "@/icons/GitHub.astro"
import WorldIcon from "@/icons/World.astro"
---

<footer class="w-full bg-red-600 py-4 mt-28">
    <div class="flex justify-between items-center gap-2 max-w-screen-2xl px-8 mx-auto">
        <ul class="flex gap-4">
            <li>
                <a href="http://github.com/picuu/itbflix" target="_blank" rel="noopener noreferrer" title="Repositorio">
                    <GitHubIcon class="size-10" />
                </a>
            </li>
            <li>
                <a href="http://itbflix.vercel.app" target="_blank" rel="noopener noreferrer" title="Web original">
                    <WorldIcon class="size-10" />
                </a>
            </li>
        </ul>
    
        <small>
            <a href="http://github.com/picuu" target="_blank" rel="noopener noreferrer">Made with &hearts; by @Picuu</a>
        </small>
    </div>
</footer>