---
const headerItems = [
    {
        name: 'Inicio',
        url: '/'
    },
    {
        name: 'Películas',
        url: '/movies'
    },
    {
        name: 'Series',
        url: '/series'
    },
    {
        name: 'Lo más visto',
        url: '/most-viewed'
    },
    {
        name: 'Regístrate',
        url: '/register'
    }
]
---

<header class="flex sm:flex-col justify-between sm:justify-center items-center gap-8 pt-6 px-8">
    <img src="/img/logo/logo-big.png" alt="Logo de ITBFlix" class="w-[200px] sm:w-2/3 xl:w-[700px]" />
    <nav class="flex justify-center items-center gap-6">
        <div class="sm:hidden">
            MENU
        </div>
        {
            headerItems.map(({name, url}) => (
                <a class="hidden sm:block px-4 py-1.5 bg-gray-800/50 text-gray-300 rounded hover:bg-gray-800/80 hover:text-red-300 transition" href={url}>{name}</a>
            ))
        }
    </nav>
</header>